@font-face {
    font-family: 'Lato-Medium';
    src: url('../fonts/Lato-Medium.eot');
    src: url('../fonts/Lato-Medium.woff2') format('woff2'),
    url('../fonts/Lato-Medium.woff') format('woff'),
    url('../fonts/Lato-Medium.ttf') format('truetype'),
    url('../fonts/Lato-Medium.svg#Lato-Medium') format('svg'),
    url('../fonts/Lato-Medium.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato-Regular.eot');
    src: url('../fonts/Lato-Regular.woff2') format('woff2'),
    url('../fonts/Lato-Regular.woff') format('woff'),
    url('../fonts/Lato-Regular.ttf') format('truetype'),
    url('../fonts/Lato-Regular.svg#Lato-Regular') format('svg'),
    url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Light';
    src: url('../fonts/Lato-Light.eot');
    src: url('../fonts/Lato-Light.woff2') format('woff2'),
    url('../fonts/Lato-Light.woff') format('woff'),
    url('../fonts/Lato-Light.ttf') format('truetype'),
    url('../fonts/Lato-Light.svg#Lato-Light') format('svg'),
    url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Heavy';
    src: url('../fonts/Lato-Heavy.eot');
    src: url('../fonts/Lato-Heavy.woff2') format('woff2'),
    url('../fonts/Lato-Heavy.woff') format('woff'),
    url('../fonts/Lato-Heavy.ttf') format('truetype'),
    url('../fonts/Lato-Heavy.svg#Lato-Heavy') format('svg'),
    url('../fonts/Lato-Heavy.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}



header {
    background: url('../images/bg-header.jpg') no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    overflow: hidden;
    width: 100%;
     /*height: 900px;*/
}

header img:first-child {
    height: 120px;
    width: 288px;
    margin-top: 187px;
}

@media (max-width: 1200px){
    header img:first-child {
        margin-top: 50px;
        width: 220px;
        height: 83px;
    }
}
@media (max-width: 992px){
    header img:first-child {
        width: 200px;
        height: 72px;

    }
}
@media (max-width: 768px){
    header img:first-child {
        width: 170px;
        height: 71px;

    }
}



header .header-title-1{
    font-size: 36px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 73px;
    font-family: 'Lato-Medium';
}
@media (max-width: 1200px){
    header .header-title-1 {
        font-size: 30px;
        margin-top: 70px;
    }
}
@media (max-width: 992px){
    header .header-title-1 {
        font-size: 26px;
        margin-top: 60px;
    }
}
@media (max-width: 768px){
    header .header-title-1 {
        font-size: 23px;
        margin-top: 40px;
    }
}

header .header-title-2{
    font-size: 30px;
    color: #fff;
    margin-top: 8px;
    font-family: 'Lato-Regular';
}
@media (max-width: 1200px){
    .header-title-2{
        font-size: 22px!important;
    }
}
@media (max-width: 992px){
    .header-title-2{
        font-size: 20px!important;
    }
}
@media (max-width: 768px){
    .header-title-2{
        font-size: 16px!important;
    }
}

header .header-title-3{
    font-family: 'Lato-Light';
    font-size: 24px;
    color: #fff;
    margin-top: 18px;
    text-transform: uppercase;
}
@media (max-width: 1200px){
    .header-title-3{
        font-size: 22px!important;
    }
}
@media (max-width: 992px){
    .header-title-3{
        font-size: 18px!important;
    }
}
@media (max-width: 768px){
    .header-title-3{
        font-size: 14px!important;
    }
}

header a .step-down {
    width: 78px;
    height: 39px;
    margin-top: 125px;
    margin-bottom: 70px;
}
@media (max-width: 1200px){
    header .step-down {
        width: 78px;
        height: 39px;
        margin-top: 50px;
        margin-bottom: 30px;
        width: 60px;
        height: 30px;
    }
}@media (max-width: 1200px){
    header .step-down {

        width: 50px;
        height: 25px;
    }
}

.section-1 {
    background: url('../images/bg-section-1.png') no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    /*height: 900px;*/
}

.section-1 .section-1-title-big{
    color: #2b444f;
    font-size: 80px;
    text-transform: uppercase;
    font-weight:600;
    font-family: 'Lato-Heavy';
    letter-spacing: 14px;
    line-height: 1.1;
    margin-top: 130px;
    margin-left: 38px;
    border-bottom: 8px solid #f37e37;
    width: 36%;
    padding-bottom: 10px;
}
@media (max-width: 1200px){
    .section-1 .section-1-title-big{
        font-size: 60px;
        margin-top: 70px;
    }
}
@media (max-width: 992px){
    .section-1 .section-1-title-big{
        font-size: 40px;
        margin-top: 40px;
    }
}
@media (max-width: 768px){
    .section-1 .section-1-title-big{
        margin: 0 auto;
        font-size: 25px;
        border-bottom: 5px solid #f37e37;
        width: 50px;
        position: relative;
        left: -4%;
        margin-top: 30px;
    }
}

.section-1 p {
    color: #333;
    font-family: 'Lato-Regular';
    font-size: 25px;
    line-height: 2;
    margin-top: 127px;

}
@media (max-width: 1200px){
    .section-1 p{
        font-size: 22px;
        line-height: 1.7;
        margin-top: 60px;
    }
}
@media (max-width: 992px){
    .section-1 p{
        font-size: 18px;
        line-height: 1.5;
        margin-top: 30px;
    }
}
@media (max-width: 768px){
    .section-1 p{
        text-align: center;
        font-size: 14px;
    }
}
@media (max-width: 992px) {
    .section-1-top {
        margin-top: 30px;
    }
}

.section-1-bottom {
    margin-top: 12px;
    margin-bottom: 75px;
}
@media (max-width: 992px){
    .section-1-bottom {
        margin-top: 0px;
        margin-bottom: 30px;
    }
}
@media (min-width: 768px){
.section-1-bottom-p {
        margin-left: 38px;
    }
}

.section-2 {
    background-color: #f37e37;
}

.section-2 .section-2-title-big{
    color: #edfaff;
    font-size: 80px;
    text-transform: uppercase;
    font-weight:600;
    font-family: 'Lato-Heavy';
    letter-spacing: 14px;
    line-height: 1.1;
    margin-top: 77px;
    margin-left: 38px;
    border-bottom: 8px solid #2b444f;
    width: 36%;
    padding-bottom: 10px;
}
@media (max-width: 1200px){
    .section-2 .section-2-title-big{
        font-size: 60px;
        margin-top: 70px;
    }
}
@media (max-width: 992px){
    .section-2 .section-2-title-big{
        font-size: 40px;
        margin-top: 40px;
    }
}
@media (max-width: 768px){
    .section-2 .section-2-title-big{
        margin: 0 auto;
        font-size: 25px;
        border-bottom: 5px solid #2b444f;
        width: 50px;
        position: relative;
        left: -4%;
        margin-top: 30px;
    }
}
/*.section-2 ul:first-child {*/
    /*list-style-type:none;*/
/*}*/

.section-2 ul {
    list-style-image: url(../images/trictangle-li.png);
    margin-top: 63px;
    padding-left: 20px;
    margin-bottom: 58px;
}
@media (max-width: 992px) {
    .section-2 ul {
        list-style-image: url(../images/trictangle-li-min.png);
        margin-top: 35px;
        margin-bottom: 35px;
    }
}
@media (max-width: 768px) {
    .section-2 ul {
        margin: 0 auto;
        max-width: 300px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}


/*.section-2 .list-style-type {*/
    /*list-style-type:none;*/
/*}*/
.li-none,
.section-2 ul li {
    color: #edfaff;
    font-family: 'Lato-Regular';
    font-size: 25px;
    line-height: 2.4;
    padding-left: 15px;
}

@media (max-width: 1200px){
    .li-none,
    .section-2 ul li{
        font-size: 22px;
        line-height: 1.7;
        /*margin-top: 60px;*/
    }
}
@media (max-width: 992px){
    .li-none,
    .section-2 ul li{
        font-size: 18px;
        padding-left: 10px;
    }
}
@media (max-width: 768px){
    .li-none,
    .section-2 ul li{
        /*text-align: center;*/
        font-size: 14px;
    }
}



.section-3 .section-3-top {
    height: 55px;
    background-color: #fcdbc7;
}
.section-3 .section-3-bottom {
    height: 55px;
    background-color: #635448;
}
.section-3 .col-md-12{
    padding-right: 0px;
    padding-left: 0px;
}

.section-4 {
    background-color: #2b444f;
}
.section-4 ul {
    list-style-image: url(../images/ellipse.png);
    margin-top: 63px;
    padding-left: 58px;
    margin-bottom: 64px;
}
@media (max-width: 992px) {
    .section-4 ul {
        /*list-style-image: url(../images/ellipse.png);*/
        margin-top: 35px;
        margin-bottom: 35px;
    }
}
@media (max-width: 768px) {
    .section-4 ul {
        margin: 0 auto;
        max-width: 370px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
.section-4 ul li {
    color: #edfaff;
    font-family: 'Lato-Regular';
    font-size: 25px;
    line-height: 2.4;
    padding-left: 35px;
}
@media (max-width: 1200px){
    .section-4 ul li{
        font-size: 22px;
        line-height: 1.7;
        /*margin-top: 60px;*/
    }
}
@media (max-width: 992px){
    .section-4 ul li{
        font-size: 18px;
        padding-left: 10px;
    }
}
@media (max-width: 768px){
    .section-4 ul li{
        /*text-align: center;*/
        font-size: 14px;
    }
}
.section-4 .section-4-title-big{
    color: #edfaff;
    font-size: 80px;
    text-transform: uppercase;
    font-weight:600;
    font-family: 'Lato-Heavy';
    letter-spacing: 14px;
    line-height: 1.1;
    margin-top: 75px;
    margin-left: 43px;
    border-bottom: 8px solid #f37e37;
    width: 36%;
    padding-bottom: 10px;
}
@media (max-width: 1200px){
    .section-4 .section-4-title-big{
        font-size: 60px;
        margin-top: 70px;
    }
}
@media (max-width: 992px){
    .section-4 .section-4-title-big{
        font-size: 40px;
        margin-top: 40px;
    }
}
@media (max-width: 768px){
    .section-4 .section-4-title-big{
        margin: 0 auto;
        font-size: 25px;
        border-bottom: 5px solid #f37e37;
        width: 50px;
        position: relative;
        left: -4%;
        margin-top: 30px;
    }
}
footer {
    background: url('../images/bg-footer.png') no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    /*height: 500px;*/
    color:#fff;
}
footer .footer-title-1{
    font-family: 'Lato-Heavy';
    color: #2b444f;
    font-size: 40px;
    margin-top: 140px;
    text-transform: uppercase;
}
@media (max-width: 1200px){
    footer .footer-title-1{
        font-size: 30px;
        margin-top: 40px;
    }
}
@media (max-width: 992px){
    footer .footer-title-1{
        font-size: 25px;
        margin-top: 30px;
    }
}
@media (max-width: 768px){
    footer .footer-title-1{
        font-size: 22px;
        margin-top: 25px;
    }
}
footer .footer-title-2{
     font-family: 'Lato-Regular';
     color: #333333;
     font-size: 30px;
     margin-top: 15px;
 }
@media (max-width: 1200px){
    footer .footer-title-2{
        font-size: 24px;
    }
}
@media (max-width: 992px){
    footer .footer-title-2{
        font-size: 20px;
    }
}
@media (max-width: 768px){
    footer .footer-title-2{
        font-size: 16px;
    }
}
.footer-a {
    background-color: #f37e37;
    color: #fff;
    margin-top: 37px;
    /*width: 750px;*/
    width: 600px;
    margin-bottom: 165px;
}
@media (max-width: 1200px){
    .footer-a {
        width: 500px;
        margin-bottom: 80px;
    }
}
@media (max-width: 992px){
    .footer-a {
        width: 400px;
        margin-bottom: 60px;
    }
}
@media (max-width: 768px){
    .footer-a {
        width: 200px;
        margin-bottom: 40px;
    }
}
.footer-a a{
    font-family: 'Lato-Regular';
    text-align: center;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 40px;
    /*padding-top: 35px;*/
    /*padding-bottom: 42px;*/
    padding-top: 25px;
    padding-bottom: 32px;
}
@media (max-width: 1200px){
    .footer-a a{
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 34px;
    }
}
@media (max-width: 992px){
    .footer-a a{
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 28px;
    }
}
@media (max-width: 768px){
    .footer-a a{
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 18px;
    }
}
.footer-a a:hover,
.footer-a a:active,
.footer-a a:focus,
.footer-a a:visited,
.footer-a a{
    text-decoration: none;
}

.footer-a:hover {
    transition: 0.5s all;
    -ms-transform: scale(0.95, 0.95);
    -webkit-transform: scale(0.95, 0.95);
    transform: scale(0.95, 0.95);
}
/*begin top-scrool*/
.top{
    bottom: 20px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: rgba(44,55,71,.7);
    text-align: center;
    line-height: 50px;
    position: fixed;
    font-size: 30px;
    color:#fff;
}
a.top:hover{
    color:#ccc!important;
}
.top:visited,
.top:active,
.top:focus{
    color:#fff!important;
}
